* {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

body {
  background: rgba(155, 155, 155, 0.06);
}

.pupe-fade-enter-active, .pupe-fade-leave-active {
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.pupe-fade-enter, .fade-leave-active {
  opacity: 0;
}

.pupe .pupe-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 150px;
  z-index: 5;
}
.pupe .pupe-header .pupe-header-top {
  background: #341a47;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  color: white;
}
.pupe .pupe-header .pupe-header-top .pupe-brand {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: 100%;
  flex-grow: 1;
  padding-left: 50px;
}
.pupe .pupe-header .pupe-header-top .pupe-brand .logo {
  width: 50px;
  height: 50px;
  background: white;
}
.pupe .pupe-header .pupe-header-top .pupe-brand .logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.pupe .pupe-header .pupe-header-top .pupe-brand .name {
  margin-left: 20px;
  padding: 5px;
  margin-top: 15px;
  color: white;
}
@media screen and (max-width: 768px) {
  .pupe .pupe-header .pupe-header-top .pupe-brand .name {
    display: none;
  }
}
.pupe .pupe-header .pupe-header-top .pupe-search-form {
  position: relative;
  height: 100%;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .pupe .pupe-header .pupe-header-top .pupe-search-form {
    display: none;
  }
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group {
  height: 100%;
  width: 100%;
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group .pupe-submit {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  padding: 10px;
  height: 100%;
  width: 12%;
  top: 0;
  right: 0;
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group .pupe-submit:hover {
  background: #341a47;
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group .pupe-submit:active {
  background: #3f2057;
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group .form-control {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  padding-left: 50px;
  padding-right: 12%;
  background: #3f2057;
  color: white;
}
.pupe .pupe-header .pupe-header-top .pupe-search-form .form-group .form-control:focus {
  box-shadow: none;
  border: none;
}
.pupe .pupe-header .pupe-header-top .pupe-account {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .pupe .pupe-header .pupe-header-top .pupe-account {
    padding-right: 20px;
  }
}
.pupe .pupe-header .pupe-header-top .pupe-account .pupe-avatar, .pupe .pupe-header .pupe-header-top .pupe-account .pupe-carret {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  color: white;
}
.pupe .pupe-header .pupe-header-top .pupe-account .pupe-avatar img, .pupe .pupe-header .pupe-header-top .pupe-account .pupe-carret img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pupe .pupe-header .pupe-header-top .pupe-account .pupe-avatar .fa, .pupe .pupe-header .pupe-header-top .pupe-account .pupe-carret .fa {
  font-size: 17px;
  -moz-transition: transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  -webkit-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
}
.pupe .pupe-header .pupe-header-top .pupe-account .pupe-carret:focus .fa {
  transform: rotate(180deg);
}
.pupe .pupe-header .pupe-header-top .pupe-account .bars {
  display: none;
}
@media screen and (max-width: 768px) {
  .pupe .pupe-header .pupe-header-top .pupe-account .bars {
    display: inline-block;
  }
}
.pupe .pupe-header .pupe-header-nav {
  width: 100%;
  height: 50%;
  background: #dedde2;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pupe .pupe-header .pupe-header-nav .links {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
}
.pupe .pupe-header .pupe-header-nav .links .pupe-nav-link {
  box-sizing: border-box;
  height: 100%;
  width: 120px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 10px 20px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid transparent;
}
.pupe .pupe-header .pupe-header-nav .links .pupe-nav-link:hover {
  border-bottom-color: #3f2057;
}
.pupe .pupe-header .pupe-header-nav .links .pupe-nav-link.pupe-active {
  border-bottom-color: #e23b4e;
}
.pupe .pupe-header .pupe-header-nav .new-booking {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pupe .pupe-header .pupe-header-nav .new-booking .btn {
  background: #d0021b;
}
@media screen and (max-width: 768px) {
  .pupe .pupe-header .pupe-header-nav .new-booking {
    display: none;
  }
}
.pupe .pupe-header .shadowed {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.9);
}

.pupe-main-content {
  padding: 25px 50px;
  margin-top: 150px;
}
@media screen and (max-width: 768px) {
  .pupe-main-content {
    padding: 20px;
  }
}
.pupe-main-content .room-types .pupe-card-items {
  width: 80%;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .pupe-main-content .room-types .pupe-card-items {
    width: 100%;
    margin-bottom: 30px;
  }
}
.pupe-main-content .room-types .pupe-card-items .item {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pupe-main-content .room-types .pupe-card-items .item.bordered {
  border-bottom: 1px solid lightgrey;
}
.pupe-main-content .room-types .pupe-card-items .item h4.number {
  color: #e23b4e;
  letter-spacing: 1.5px;
  font-weight: bold;
  line-height: normal;
  font-stretch: normal;
  font-size: 45px;
}
.pupe-main-content .room-types .pupe-card-items .item .flags {
  display: flex;
}
.pupe-main-content .room-types .pupe-card-items .item .flags .amount {
  flex-grow: 1;
  padding: 5px 10px;
  background: #341a47;
  color: white;
  position: relative;
  left: -16px;
}
.pupe-main-content .room-types .pupe-card-items .item .flags .type {
  flex-grow: 1;
  text-transform: uppercase;
  color: #582d7a;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}
.pupe-main-content .room-status .rooms {
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .pupe-main-content .room-status .rooms {
    justify-content: center;
    align-items: center;
  }
}
.pupe-main-content .room-status .rooms .room {
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  background: white;
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e23b4e;
  color: #e23b4e;
  cursor: pointer;
}
.pupe-main-content .room-status .rooms .room.occupied {
  background: #e23b4e;
  color: white;
}
.pupe-main-content .room-status .rooms .room:hover {
  box-shadow: 0 0 10px 2px #e23b4e;
}
.pupe-main-content .pending-booking {
  margin-top: 20px;
  margin-bottom: 50px;
  background: white;
}
.pupe-main-content .pending-booking .pupe-table {
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}
.pupe-main-content .pending-booking .pupe-table .table {
  width: 100%;
}
.pupe-main-content .pending-booking .pupe-table .table tr, .pupe-main-content .pending-booking .pupe-table .table th, .pupe-main-content .pending-booking .pupe-table .table td {
  border: none !important;
}
.pupe-main-content .pending-booking .pupe-table .table thead tr {
  color: #341a47;
}
.pupe-main-content .pending-booking .pupe-table .table tbody tr:nth-child(odd) {
  background: rgba(216, 216, 216, 0.19);
}
.pupe-main-content .pending-booking .pupe-table .table td:nth-child(1), .pupe-main-content .pending-booking .pupe-table .table th:nth-child(1) {
  padding-left: 50px;
}
.pupe-main-content .pupe-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pupe-main-content .pupe-actions .actions {
  display: flex;
  height: 100%;
  width: 35%;
  color: #e23b4e;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .pupe-main-content .pupe-actions .actions {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .pupe-main-content .pupe-actions .actions {
    width: 70%;
  }
}
.pupe-main-content .pupe-actions .actions .item {
  flex-grow: 1;
  margin-left: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.pupe-main-content .pupe-actions .actions .item label {
  display: inline-block;
  margin-left: 10px;
}
.pupe-main-content .newbooking .links {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.pupe-main-content .newbooking .links .btn {
  height: 100%;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  background: rgba(155, 155, 155, 0.06);
  border: 1px solid #582d7a;
  color: #582d7a;
}
.pupe-main-content .newbooking .links .btn:hover, .pupe-main-content .newbooking .links .btn.p-active {
  color: white !important;
  background: #582d7a !important;
}
.pupe-main-content .newbooking .booking-form {
  margin-top: 20px;
}
.pupe-main-content .newbooking .booking-form .form {
  background: white;
  padding: 50px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}
.pupe-main-content .newbooking .side-note {
  width: 80%;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
.pupe-main-content .newbooking .side-note p:nth-child(1) {
  font-weight: bolder;
  font-size: 37.5px;
}
.pupe-main-content .newbooking .side-note p:nth-child(3), .pupe-main-content .newbooking .side-note p:nth-child(5) {
  font-weight: bold;
  font-size: 22.5px;
  color: #341a47;
}

.pupe-bg-purple {
  background: #3f2057;
}

.pupe-bg-red {
  background: #e23b4e;
}

.pupe-login-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/static/img/bg/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.pupe-login-page .pupe-login-form {
  height: 100%;
  width: 50%;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 225px;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
@media screen and (max-width: 768px) {
  .pupe-login-page .pupe-login-form {
    background: transparent;
    width: 90%;
    right: 20px;
    padding-top: 150px;
  }
}
.pupe-login-page .pupe-login-form .pupe-title {
  margin-bottom: 100px;
  color: #582d7a;
}
.pupe-login-page .pupe-login-form .form-group {
  margin-bottom: 50px;
}
.pupe-login-page .pupe-login-form .form-group .form-control {
  text-align: center;
}
.pupe-login-page .pupe-login-form .form-group .form-control::-moz-placeholder {
  color: #582d7a;
}
.pupe-login-page .pupe-login-form .form-group .form-control::placeholder {
  color: #582d7a;
}
@media screen and (max-width: 768px) {
  .pupe-login-page .pupe-login-form .form-group .form-control.pupe-text-input {
    border-bottom-color: white;
    color: white;
  }
  .pupe-login-page .pupe-login-form .form-group .form-control.pupe-text-input::placeholder {
    color: white;
  }
}
.pupe-login-page .pupe-login-form button.submit {
  display: block;
  margin-top: 60px;
  padding: 15px;
  background: #582d7a;
  border-radius: 0;
}
.pupe-login-page .pupe-login-form .pupe-reset-password {
  display: block;
  margin-top: 50px;
  text-decoration: none;
}
.pupe-login-page .pupe-login-form .pupe-reset-password:hover {
  color: #e23b4e;
  text-decoration: underline;
}

.pupe-text-input {
  border: none;
  padding: 20px;
  border-bottom: 1px solid #582d7a;
  border-radius: 0;
  background: transparent;
}
.pupe-text-input:focus {
  box-shadow: none;
  background: transparent;
  border-color: #582d7a;
}

.check-input {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.check-input label {
  cursor: pointer;
}
.check-input .checkbox {
  width: 15px;
  height: 15px;
  margin-top: -7px;
  border-radius: 2px;
  border: 2px solid #e23b4e;
  cursor: pointer;
}
.check-input .checkbox:hover {
  box-shadow: 0 0 5px #e23b4e;
}
.check-input .checkbox.checked {
  background: #e23b4e;
  background-image: url("/static/img/icons/Checkmark_30px.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h3, h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #341a47;
  padding-top: 10px;
}

h4 {
  font-weight: bold;
  text-transform: capitalize;
}

.pupe-text-purple {
  color: #341a47;
}

.pupe-text-white {
  color: white;
}

.pupe-text-red {
  color: #e23b4e;
}

/*# sourceMappingURL=style.css.map */
