<template>
    <header class="pupe-header">
        <div class="pupe-header-top">
            <div class="pupe-brand">
                <div class="logo">
                    <img src="/static/img/logo.png">
                </div>
                <p class="name">Pupe Receptionist Portal</p>
            </div>
            <div class="pupe-search-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Dashboard">
                    <a href="javascript:void(0)" class="pupe-submit">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="pupe-account">
                <a href="javascript:void(0)" class="pupe-avatar">
                    <img src="/static/img/avatars/team-member.jpg">
                </a>
                <a href="javascript:void(0)" class="pupe-carret">
                    <span class="fa fa-angle-down"></span>
                </a>
                <a href="javascript:void(0)" class="pupe-carret bars">
                    <span class="fa fa-bars"></span>
                </a>
            </div>
        </div>
        <div class="pupe-header-nav">
            <div class="links">
                <router-link :to="{name: 'dashboard'}" tag="a" activeClass="pupe-active" href="#" class="pupe-nav-link">
                   <span>Dashboard</span>
                </router-link>
                <router-link :to="{name: 'booking'}" tag="a" activeClass="pupe-active" :class="{'pupe-active': booking}" href="#" class="pupe-nav-link">
                   <span> bookings</span>
                </router-link>
            </div>
            <div class="new-booking">
                <router-link :to="{name: 'newbooking'}" tag="button" class="btn btn-danger">New Booking</router-link>
            </div>
        </div>
    </header>
</template>
<script>
export default {
    computed: {
        booking () {
            return this.$route.name === 'newbooking'
        }
    }
}
</script>
