<template>
    <div class="pupe">
        <pupe-header></pupe-header>
        <transition name="pupe-fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>
<script>
import PupeHeader from './header'
export default {
    components: {
        PupeHeader
    },
    mounted () {
        // window.addEventListener('scroll', (event) => {
        //    if ($(window).scrollTop() > 30) {
        //        $('.pupe-header').addClass('shadowed')
        //    } else {
        //        $('.pupe-header').removeClass('shadowed')
        //    }
        // })
    }
}
</script>
