<template>
    <div class="pupe-main-content">
        <div class="pupe-actions">
            <h3 class="title">
                Pending booking
            </h3>
            <div class="actions">
                <div class="item">
                    <label>Filter By:</label>
                </div>
                <div class="item">
                    <pupe-check-box v-model="booked" :label="'Booked'"></pupe-check-box>
                </div>
                <div class="item">
                    <pupe-check-box v-model="available" :label="'Available'"></pupe-check-box>
                </div>
                <div class="item">
                    <label>Date Range <span class="fa fa-angle-down" style="font-weight: bold; font-size: 20px;"></span></label>
                </div>
            </div>
        </div>
        <div class="pending-booking">
            <div class="row">
                <div class="col-12">
                    <pupe-table>
                        <thead slot="table-head">
                            <tr>
                                <th scope="col">Room/Facility</th>
                                <th scope="col">Status</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Guest type</th>
                            </tr>
                        </thead>
                        <tbody slot="table-body">
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                        </tbody>
                    </pupe-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {PupeTable, PupeCheckBox} from './commons'
export default {
    data () {
        return {
            booked: false,
            available: false
        }
    },
    components: {
        PupeTable, PupeCheckBox
    }
}
</script>
