<template>
    <div class="pupe-main-content">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-2">
                <div class="room-types">
                    <h3>room types</h3>
                    <div class="pupe-card-items">
                        <div class="item bordered">
                            <h4 class="number">250</h4>
                            <div class="flags">
                                <div class="amount">GH₡ 243</div>
                                <div class="type">Business</div>
                            </div>
                        </div>
                        <div class="item bordered">
                            <h4 class="number">250</h4>
                            <div class="flags">
                                <div class="amount">GH₡ 243</div>
                                <div class="type">Business</div>
                            </div>
                        </div>
                        <div class="item">
                            <h4 class="number">250</h4>
                            <div class="flags">
                                <div class="amount">GH₡ 243</div>
                                <div class="type">Business</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-10">
                <div class="room-status">
                    <h3>room status</h3>
                    <div class="rooms">
                        <div class="room occupied">#1</div>
                        <div class="room">#2</div>
                        <div class="room">#3</div>
                        <div class="room occupied">#4</div>
                        <div class="room occupied">#5</div>
                        <div class="room occupied">#6</div>
                        <div class="room">#7</div>
                        <div class="room">#8</div>
                        <div class="room">#9</div>
                        <div class="room occupied">#10</div>
                        <div class="room">#11</div>
                        <div class="room">#12</div>
                        <div class="room occupied">#13</div>
                        <div class="room occupied">#14</div>
                        <div class="room">#15453</div>
                         <div class="room">#9</div>
                        <div class="room occupied">#10</div>
                        <div class="room">#11</div>
                        <div class="room">#12</div>
                        <div class="room occupied">#13</div>
                        <div class="room occupied">#14</div>
                        <div class="room">#15453</div>
                        <div class="room">#3</div>
                        <div class="room occupied">#4</div>
                        <div class="room occupied">#5</div>
                        <div class="room occupied">#6</div>
                        <div class="room">#7</div>
                        <div class="room">#8</div>
                        <div class="room">#9</div>
                        <div class="room occupied">#10</div>
                        <div class="room">#11</div>
                        <div class="room">#3</div>
                        <div class="room occupied">#4</div>
                        <div class="room occupied">#5</div>
                        <div class="room occupied">#6</div>
                        <div class="room">#7</div>
                        <div class="room">#8</div>
                        <div class="room">#9</div>
                        <div class="room occupied">#10</div>
                        <div class="room">#11</div>
                        <div class="room">#12</div>
                        <div class="room occupied">#13</div>
                        <div class="room occupied">#14</div>
                        <div class="room">#15453</div>
                         <div class="room">#9</div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="pupe-actions">
            <h3 class="title">
                Pending booking
            </h3>
        </div>
        <div class="pending-booking">
            <div class="row">
                <div class="col-12">
                    <pupe-table>
                        <thead slot="table-head">
                            <tr>
                                <th scope="col">Room/Facility</th>
                                <th scope="col">Status</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Guest type</th>
                            </tr>
                        </thead>
                        <tbody slot="table-body">
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                            <tr>
                            <td>Room 53</td>
                            <td>Booked</td>
                            <td>Kwabena Owusu Danquah</td>
                            <td>+233547406827</td>
                            <td>20/12/2018</td>
                            <td>24/12/2018</td>
                            <td>Individual</td>
                            </tr>
                        </tbody>
                    </pupe-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {PupeTable} from './commons'
export default {
    components: {
        PupeTable
    }
}
</script>
