<template>
    <div class="pupe-login-page">
       <div class="pupe-login-form">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-7 col-lg-7">
                   <div class="form">
                       <h3 class="pupe-title text-center pupe-text-purple">LOG IN</h3>
                        <form @submit.prevent>
                            <div class="form-group">
                                <input type="text" class="form-control pupe-text-input"  placeholder="Username">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control pupe-text-input" placeholder="Password">
                            </div>

                            <router-link :to="{name: 'dashboard'}" tag="button" type="submit" class="btn btn-block submit pupe-text-white">Log In</router-link>

                        </form>
                        <router-link :to="{name: 'resetpassword'}" tag="a" href="javascript:void(0)" class="text-center pupe-text-red pupe-reset-password">I can't remember my password</router-link>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>
