<template>
    <div class="pupe-main-content">
        <div class="newbooking">
            <div class="links">
                <h3>NEW BOOKING</h3>
                <button class="btn p-active">Room</button>
                <button class="btn">Facility</button>
            </div>
            <div class="booking-form">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 form">
                        <form>
                            <div class="section">
                                <h4>Personal Information</h4>
                                <div class="form-group">
                                    <input type="text" placeholder="Name" class="form-control pupe-text-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Phone" class="form-control pupe-text-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Nationality" class="form-control pupe-text-input">
                                </div>
                            </div>
                            <div class="section">
                                <h4>Booking Details</h4>
                                <div class="form-group">
                                    <input type="text" placeholder="Arrival" class="form-control pupe-text-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Departure" class="form-control pupe-text-input">
                                </div>

                                <div class="form-group">
                                    <label>Guest Type</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Individual
                                        </label>
                                        <label class="form-check-label" style="margin-left: 20px;">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            company
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Please enter company name" class="form-control pupe-text-input">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Number of people" class="form-control pupe-text-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Room Type</label>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Individual
                                                </label>
                                                <label class="form-check-label" style="margin-left: 20px;">
                                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    company
                                                </label>
                                                <label class="form-check-label" style="margin-left: 20px;">
                                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    Business
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Room Number" class="form-control pupe-text-input">
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="form-group">
                                    <button class="btn pupe-bg-purple pupe-text-white">
                                        <span>Complete Booking</span>
                                    </button>
                                    <a href="javascript:void(0)" class="btn pupe-bg-red pupe-text-white float-right">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="side-note">
                            <p class="pupe-text-red">GHC 1800</p>
                            <p>Price/booking unit</p>
                            <p>GHC 200/hour</p>
                            <p>Duration</p>
                            <p>65 days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
