<template>
    <div class="pupe-login-page">
       <div class="pupe-login-form">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-7 col-lg-7">
                   <div class="form">
                       <h3 class="pupe-title text-center pupe-text-purple">RESET PASSWORD</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control pupe-text-input"  placeholder="Old Password">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control pupe-text-input"  placeholder="Token">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control pupe-text-input" placeholder="New Password">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control pupe-text-input" placeholder="Confirm New Password">
                            </div>

                            <button type="submit" class="btn btn-block submit pupe-text-white">Reset</button>

                        </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>
