//colors
$purple: #341a47;
$purple-light: #3f2057;
$red: #e23b4e;
$white: white;

//components
$body-background: rgba(155, 155, 155, 0.06);

//setting theme colors
$primary: $purple;
$primary-light: $purple-light;


//setting dimensions
$font-size: 15px;
$header-height: 150px;

$container-padding: 50px;