@mixin transition($args) {
    -moz-transition: $args;
    -o-transition: $args;
    -webkit-transition: $args;
    transition: $args
}

@mixin box-shadow() {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}