<template>
    <div class="check-input"  @click="checkbox">
        <div class="checkbox" :class="{'checked': shouldCheck}"></div>
        <label class=".label">{{label}}</label>
    </div>
</template>
<script>
export default {
    props: ['value', 'label'],
    mounted () {
        this.shouldCheck = this.value
    },
    data () {
        return {
            shouldCheck: false
        }
    },
    methods: {
        checkbox () {
            this.shouldCheck = !this.shouldCheck
            this.$emit('input', this.shouldCheck)
        }
    }
}
</script>

