.pupe-main-content{
    padding: $container-padding * 0.5 $container-padding;
    margin-top: $header-height;
    @media screen and (max-width: 768px) {
        padding: 20px;
    }
    .room-types{
        .pupe-card-items{
            width: 80%;
            background: white;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.04);
            padding: 5px;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 30px;
            }
            .item{
                width: 90%;
                margin: auto;
                
                padding-bottom: 15px;
                padding-top: 15px;
                margin-bottom: 2px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &.bordered{
                    border-bottom: 1px solid lightgrey;
                }
                h4.number{
                    color: $red;
                    letter-spacing: 1.5px;
                    font-weight: bold;
                    line-height: normal;
                    font-stretch: normal;
                    font-size: $font-size * 3;
                }
                .flags{
                    display: flex;
                    .amount{
                        flex-grow: 1;
                        padding: 5px 10px;
                        background: $purple;
                        color: white;
                        position: relative;
                        left: -16px;
                    }
                    .type{
                        flex-grow: 1;
                        text-transform: uppercase;
                        color: #582d7a;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }
    .room-status{
        .rooms{
            background: white;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media screen and (max-width: 768px) {
                justify-content: center;
                align-items: center;
            }
            .room{
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                background: white;
                margin: 10px;
                width: 70px;
                height: 70px;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $red;
                color: $red;
                cursor: pointer;
                &.occupied{
                    background: $red;
                    color: white;
                }
                &:hover{
                    box-shadow: 0 0 10px 2px $red;
                }
            }
        }
    }

    .pending-booking{
        margin-top: 20px;
        margin-bottom: 50px;
        background: white;
        .pupe-table{
            background: white;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            .table{
                width: 100%;
                tr, th, td{
                    border: none !important;

                }
                thead{
                    tr{
                        color: $purple;
                    }
                }
                tbody{
                    tr:nth-child(odd){
                        background: rgba(216, 216, 216, 0.19);
                    }
                }
                td:nth-child(1), th:nth-child(1){
                    padding-left: 50px;
                }
            }
        }
    }
    .pupe-actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .actions{
            display: flex;
            height: 100%;
            width: 35%;
            @media screen and (max-width: 1200px) {
                width: 50%;
            }
            @media screen and (max-width: 768px) {
                width: 70%;
            }
            color: $red;
            font-weight: bold;
            // background: yellow;
            justify-content: space-between;
            align-items: center;
            .item{
                flex-grow: 1;
                // background: green;
                margin-left: 2px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                label{
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
    .newbooking{
        .links{
            // background: white;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            .btn{
                height: 100%;
                display: inline-block;
                margin-left: 20px;
                width: 100px;
                background: $body-background;
                border: 1px solid #582d7a;
                color: #582d7a;
                &:hover, &.p-active{
                    color: white !important;
                    background: #582d7a !important;
                }
                
            }
        }
        .booking-form{
            margin-top: 20px;
            .form{
                background: white;
                padding: 50px;
                box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .side-note{
            width: 80%;
            background: white;
            @include box-shadow;
            // height: 200px;
            margin: auto;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 30px;
            p:nth-child(1){
                font-weight: bolder;
                font-size: $font-size * 2.5;
            }
            p:nth-child(3), p:nth-child(5){
                font-weight: bold;
                font-size: $font-size * 1.5;
                color: $purple;
            }
        }
    }
}