$login-purple: #582d7a;

.pupe-login-page{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/bg/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    .pupe-login-form{
        height: 100%;
        width: 50%;
        background: $white;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: $header-height * 1.5;
        @include transition(all 0.5s ease-in);
        @media screen and (max-width: 768px) {
            background: transparent;
            width: 90%;
            right: 20px;
            padding-top: $header-height;
        }
        .pupe-title{
            margin-bottom: 100px;
            color: $login-purple;
        }
        .form-group{
            margin-bottom: 50px;
            .form-control{
                text-align: center;
                &::-moz-placeholder{
                    color: $login-purple;
                }
                &::placeholder{
                    color: $login-purple;
                }
                &.pupe-text-input{
                    @media screen and (max-width: 768px) {
                        border-bottom-color: white;
                        color: white;
                        &::placeholder{
                            color: white;
                        }
                    }
                }
            }
        }
        button.submit{
            display: block;
            margin-top: 60px;
            padding: 15px;
            background: $login-purple;
            border-radius: 0;
        }
        .pupe-reset-password{
            display: block;
            margin-top: 50px;
            text-decoration: none;
            &:hover{
                color: $red;
                text-decoration: underline;
            } 
        }
    }
}

.pupe-text-input{
    border: none;
    padding: 20px;
    border-bottom: 1px solid $login-purple;
    border-radius: 0;
    background: transparent;
    &:focus{
        box-shadow: none;
        background: transparent;
        border-color: $login-purple;
    }
}

.check-input{
    display: flex;
    align-items: center;
    cursor: pointer;
    label{
        cursor: pointer;
    }
    .checkbox{
        width: 15px;
        height: 15px;
        margin-top: -7px;
        border-radius: 2px;
        border: 2px solid $red;
        cursor: pointer;
        &:hover{
            box-shadow: 0 0 5px $red;
        }
        &.checked{
            background: $red;
            background-image: url('/static/img/icons/Checkmark_30px.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
}