.pupe{
    .pupe-header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: $header-height;
        z-index: 5;
        .pupe-header-top{
            background: $purple;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50%;
            color: white;
            .pupe-brand{
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                height: 100%;
                flex-grow: 1;
                padding-left: 50px;
                
                .logo{
                    width: 50px;
                    height: 50px;
                    background: white;
                    img{
                       height: 100%;
                       width: 100%;
                       border-radius: 50%;
                    }
                }
                .name{
                    margin-left: 20px;
                    padding: 5px;
                    margin-top: 15px;
                    // font-weight: bold;
                    color: white;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
            .pupe-search-form{
                @media screen and (max-width: 768px) {
                   display: none;
                }
                position: relative;
                height: 100%;
                flex-grow: 1;
                .form-group{
                    height: 100%;
                    width: 100%;
                    .pupe-submit{
                        box-sizing: border-box;
                        color: white;
                        text-decoration: none;
                        // @include transition(all 0.2s ease-in);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        font-size: 20px;
                        padding: 10px;
                        height: 100%;
                        width: 12%;
                        top: 0;
                        right: 0;
                        &:hover{
                            background: $purple;
                        }
                        &:active{
                            background: $purple-light;
                        }
                    }
                    .form-control{
                        height: 100%;
                        width: 100%;
                        border-radius: 0;
                        border: none;
                        padding-left: 50px;
                        padding-right: 12%;
                        background: $purple-light;
                        color: white;
                        &:focus{
                            box-shadow: none;
                            border: none;
                        }
                    }
                }
            }
            .pupe-account{
               flex-grow: 1;
               display: flex;
               height: 100%;
               justify-content: flex-end;
               align-items: center;
               padding-right: 50px;
               @media screen and (max-width: 768px) {
                   padding-right: 20px;
               }
               position: relative;
               .pupe-avatar, .pupe-carret{
                   display: inline-block;
                   margin: 5px;
                   padding: 10px;
                   color: white;
                   img{
                       width: 50px;
                       height: 50px;
                       border-radius: 50%;
                   }
                   .fa{
                       font-size: 17px;
                       @include transition(transform 0.4s ease-in);
                   }
               }
               .pupe-carret{
                   &:focus{
                       .fa{
                           transform: rotate(180deg);
                       }
                   }
               }
               .bars{
                   display: none;
                   @media screen and (max-width: 768px) {
                        display: inline-block;
                    }
               }
            }
        }
        .pupe-header-nav{
            width: 100%;
            height: 50%;
            background: #dedde2;
            padding-left: $container-padding;
            padding-right: $container-padding;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .links{
                display: flex;
                justify-content: flex-start;
                width: 30%;
                height: 100%;
                .pupe-nav-link{
                    box-sizing: border-box;
                    height: 100%;
                    width: 120px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: black;
                    padding: 10px 20px;
                    margin-right: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 5px solid transparent;
                    &:hover{
                        border-bottom-color: $purple-light;
                    }
                    &.pupe-active{
                        border-bottom-color: $red;
                    }
                }
            }
            .new-booking{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .btn{
                    background: #d0021b;
                }
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            
        }
        .shadowed{
            box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.9);
        }
    }
}