*{
    font-family: 'Raleway', sans-serif;
    font-size: $font-size;
}

body{
    background: $body-background;
}


.pupe-fade-enter-active, .pupe-fade-leave-active {
   @include transition(opacity 0.2s ease-out);
  }

  .pupe-fade-enter, .fade-leave-active {
    opacity: 0;
  }