h3, h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: $purple;
    padding-top: 10px;
}

h4{
    // font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

.pupe-text-purple{
    color: $purple;
}

.pupe-text-white{
    color: white;
}

.pupe-text-red{
    color: $red;
}